@model List<Software_Engineering_Project.Models.MeetingModel>

@{
    ViewData["Title"] = "Meeting";
}

<!-- Stylesheet connection for TeacherHome page -->
@section Styles {
    <link rel="stylesheet" href="~/css/Meeting_style.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"> <!--added latest realese of fa-->
    <script src="~/js/BurgerMenu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
}



<section>
    <div class="content" >

    <!-- Top Navigation Menu -->
    <div class="topnav" >
     <picture> 
            <img src ="@Url.Content("~/images/unipi_logo.png")" />
     </picture> 
     <div class="menu_burger">
     <div class="menu" id="bmenu">       
        <a class="link" asp-controller="Student" asp-action="StudentHome" asp-route-username="@ViewBag.Username">Home</a> 
        <a class="link" asp-controller="Student" asp-action="Meeting" asp-route-username="@ViewBag.Username">Appointments</a>
        <a class="link" asp-controller="Student" asp-route-username="@ViewBag.Username" asp-action="Upload">Upload a Thesis</a> 
        <a class="link" asp-controller="Student" asp-route-username="@ViewBag.Username" asp-action="ThesisStatus">Thesis Status</a> 
        <a class="link" asp-controller="Student" asp-route-username="@ViewBag.Username" asp-action="Profile">Profile</a> 
        <a class="link" asp-controller="Home" asp-action="Login">Logout</a>
     </div>
     <div class="burger">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars fa-xxl"></i>    
        </a>
     </div>
     </div>      
    </div>
    
    <div class="view">
        <h1 class="username" id="username">@ViewBag.Username</h1>

            <div class="container">
            
                <div class="info">

                <div class="calendar">
                
                    <div class="month">

                        <i class="fas fa-angle-left prev"></i>
                        <div class="date">
                            <h1 id="month"></h1>
                            <p></p>
                        </div>
                        <i class="fas fa-angle-right next"></i>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days">
                    </div>
                </div>
                <!--<a asp-controller="Teacher" asp-action="AddMeeting" asp-route-username="@ViewBag.Username" class="btn btn-primary"> Schedule Meeting</a>-->

                </div>
            
                <div class="dialog" id="dialog">
                    <div class="dialogtext" id="dialogtext">
                        <!--<form asp-controller="Teacher" asp-action="SearchMeeting" asp-route-username="@ViewBag.Username" method="post">-->
                        <i class="fa-solid fa-circle-xmark fa-2xl" onclick="popup()"></i>
                        @if(Model!=null)
                        { 

                        <!--<h2 id="selected_month" name="selected_month">Model[0].DateTime.Month</h2>-->
                        <!--<h2 id="selected_day" name="selected_day">Model[0].DateTime.Day</h2>-->
                        <br />
                    
                    
                    
                    
                            <table class="tbl">
					    
					            <tr>
						            <th>Professor Id</th>
                                    <th>Date and Time</th>
                                    <th>Duration</th>
                                    <th>Type</th>
                                    <th>Title</th>
						        
					            </tr>
                            @foreach (var item in Model) {
					            <tr>
						            <td> @item.Professor</td>
						            <td> @item.DateTime</td> <!-- shows utc time so we should add 3 hours-->
                                    <td> @item.Duration</td>
                                    <td> @item.Type</td>
                                    <td> @item.Title</td>
					            </tr>
					        }
                            </table>
                        } else
                        {
                            <p>No meetings on this date!</p>
                        }

                        <!--</form>-->

                    </div>
                </div>

            </div>


                   <!-- Image Container -->
             <div class="image-container">
                <div class="panel left-panel">
                    <img src="@Url.Content("~/images/Meeting_img.png")" alt="" class="image" />
                </div>
             </div>
        </div>
    </div>
    <script src="~/js/MeetingStudent.js"></script> <!--woudn't work with script on the styles section-->
    <!--<h1>ViewBag.popup</h1>-->
    @if(@ViewBag.popup != null && @ViewBag.popup)
    {
        <!--<h1>yay</h1>-->
        <script src="~/js/popup.js"></script>
    }
</section>
