@model Software_Engineering_Project.Models.StudentModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<h2>@ViewBag.Username</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Professor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Professor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>

<h1>Thesis/Uploads</h1>

<a class="link" asp-controller="Student" asp-action="Upload" asp-route-username="@ViewBag.Username">click here to upload a thesis</a>
<br /><br />
<a class="link" asp-controller="Student" asp-action="ThesisStatus" asp-route-username="@ViewBag.Username">click here to see your thesis status</a>

<!--Change password form-->
<form asp-controller="Student" asp-action="ChangePassword" method="post" >
    <div>
        <h3>Change your password</h3>
    </div> <br />
    <div>
        Enter your old password <input type="password" name="oldPassword"/> <br /><br />
        Enter your new password <input type="password" name="newPassword"/> <br /><br />
        Confirm your new password <input type="password" name="newPassword1"/> <br />
        <input type="hidden" name="studentName" value="@ViewBag.Username" />
        <input type="submit" />
    </div>
</form>
<br /><br />

<!--Change phone number form-->
<form asp-controller="Student" asp-action="ChangePhone" method="post" >
    <div>
        <h3>Change your phone number</h3>
    </div> <br />
    <div>
        Enter your new phone number <input type="tel" pattern="[0-9]{10}" name="phone"/> <br />
        <input type="hidden" name="studentName" value="@ViewBag.Username" />
        <input type="submit" />
    </div>
</form>

@if(ViewBag.wrongPassword == 1){
    <script type="text/javascript">
        window.onload = function () {
    alert('The old password is wrong');
    }
    </script>
}
@if (ViewBag.notSamePasswords == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('The new passwords do not match');
    }
    </script>
}
@if (ViewBag.failure == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Something went wrong please try again');
    }
    </script>
}
@if (ViewBag.success == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Success');
    }
    </script>
}
@if (ViewBag.emptyPassword == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Please enter a valid password');
    }
    </script>
}
