@model Software_Engineering_Project.Models.ThesisModel
@{
    ViewData["Title"] = "Upload";
}
@section Styles{
        <link rel="stylesheet" href="~/css/NavbarStyle.css" />
        <script src="~/js/BurgerMenu.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

<!-- Top Navigation Menu -->
<div class="topnav" >
     <picture> 
            <img src ="@Url.Content("~/images/unipi_logo.png")" />
     </picture> 
     <div class="menu_burger">
     <div class="menu" id="bmenu">       
       <a class="link" asp-controller="Student" asp-route-username="@ViewBag.Username" asp-action="StudentHome">Home</a> 
        <a class="link" href="#">Appointments</a> 
        <a class="link"  href="#">Upload a Thesis</a> 
        <a class="link"  asp-controller="Student" asp-route-username="@ViewBag.Username" asp-action="ThesisStatus">Thesis Status</a> 
        <a class="link" asp-controller="Student" asp-route-username="@ViewBag.Username" asp-action="Profile">Profile</a> 
     </div>
     <div class="burger">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars fa-xxl"></i>    
        </a>
     </div>
     </div>      
</div>
<h1>Upload</h1>

<!-- Upload the first draft -->
<div id="version1">
<form asp-controller="Student" asp-action="Upload" enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.File"></label>
        </dt>
        <dd>
            <h3>Add the title of your thesis:</h3>
            <input type="text" asp-for="@Model.Title">
            <h3>Choose the date you started your thesis:</h3>
            <input type="date" asp-for="@Model.ThesisStartDate" />
            <h3>Fill in the language your thesis is written at: (Greek, English, etc.) </h3>
            <input type="text" asp-for="@Model.Language" />
            <h3>Add the technology your thesis is developped with:</h3>
            <input type="text" asp-for="@Model.Technology" />
            <h3>Upload the first part of your thesis:</h3>
            <input type="hidden" asp-for="@Model.version" value = "1">
            <input type="hidden" asp-for="@Model.Username" value = "@ViewBag.Username">
            <input asp-for="@Model.File" type="file" name = "file">
            <span asp-validation-for="@Model.File"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>
</div>

<!-- Upload the second draft -->
<form asp-controller="Student" asp-action="Upload" enctype="multipart/form-data" method="post" id="version2">
    <dl>
        <dt>
            <label asp-for="@Model.File"></label>
        </dt>
        <dd>
            <h3>Upload the second part of your thesis:</h3>
            <input type="hidden" asp-for="@Model.version" value = "2">
            <input type="hidden" asp-for="@Model.Username" value = "@ViewBag.Username">
            <input asp-for="@Model.File" type="file" name = "file">
            <span asp-validation-for="@Model.File"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>

<!-- Upload the final draft -->
<form asp-controller="Student" asp-action="Upload" enctype="multipart/form-data" method="post" id="version3">
    <dl>
        <dt>
            <label asp-for="@Model.File"></label>
        </dt>
        <dd>
            <h3>Upload your finalised thesis:</h3>
            <input type="hidden" asp-for="@Model.version" value = "3">
            <input type="hidden" asp-for="@Model.Username" value = "@ViewBag.Username">
            <input asp-for="@Model.File" type="file" name = "file">
            <span asp-validation-for="@Model.File"></span>
        </dd>
    </dl>
    <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
</form>

@if (ViewBag.Success == true)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Success');
    }
    </script>
}

@if (ViewBag.version1 != null && ViewBag.version1 == false)
{
    <script>
        function demoDisplay() {
            var form = document.getElementById("version1");
            form.style.display = "none"; 
        }
    </script>
}

@if (ViewBag.version2 != null && ViewBag.version2 == false)
{
    <script>
        function demoDisplay() {
    document.getElementById("version2").style.display = "none";
    }
    </script>
}

@if (ViewBag.version3 != null && ViewBag.version3 == false)
{
    <script>
        function demoDisplay() {
    document.getElementById("version3").style.display = "none";
    }
    </script>
}
