@model Software_Engineering_Project.Models.ProfessorModel
@{
    ViewData["Title"] = "Profile";
}

<!-- Stylesheet connection for TeacherHome page -->
@section Styles {
    <link rel="stylesheet" href="~/css/TeacheProfileStyle.css" />
    <link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/BurgerMenu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

}

<!--<h2>@ViewBag.Username</h2>-->


<!-- Top Navigation Menu -->
    <div class="topnav" >
     <picture> 
            <img src ="@Url.Content("~/images/unipi_logo.png")" />
     </picture> 
     <div class="menu_burger">
     <div class="menu" id="bmenu">       
        <a class="link" asp-controller="Teacher" asp-action="TeacherHome" asp-route-username="@ViewBag.Username">Home</a>
        <a class="link" asp-controller="Teacher" asp-action="Meeting" asp-route-username="@ViewBag.Username">Appointments</a>
        <a class="link" asp-controller="Teacher" asp-action="StudentHandler" asp-route-username="@ViewBag.Username">Students</a>        
        <a class="link" asp-controller="Teacher" asp-action="Profile" asp-route-username="@ViewBag.Username">Profile</a>
     </div>
     <div class="burger">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars fa-xxl"></i>    
        </a>
     </div>
     </div>      
</div>

<div class="information">

    <!--Personal Information Card-->

<div class="personal_info">
    <h1>Personal Card</h1>
    <img src ="@Url.Content("~/images/profile_picture.png")" />
    <h2>Anastasia Boublini</h2>
    <br />
    <div class="all_info">  
        <table class="tbl">
			<tr>
				<th>Firstname</th>
				<td>@Model.FirstName</td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td>@Model.LastName</td>
			</tr>
            <tr>
				<th>Email</th>
				<td>@Model.Email</td>
			</tr>
            <tr>
				<th>Phone Number</th>
				<td>@Model.Phone</td>
			</tr>
            <tr>
				<th>Office Address</th>
				<td>@Model.OfficeAddress</td>
			</tr>
            <tr>
				<th>Username</th>
				<td>@Model.Username</td>
			</tr>
            <tr>
				<th>Technologies</th>
				<td>@Model.Technology</td>
			</tr>
            <tr>
				<th>Languages</th>
				<td>@Model.Language</td>
			</tr>
		</table>
</div>
</div>


<!--Settings-->
<div class="settings">
    <h1>Settings</h1>

<!--Change password form-->
<form asp-controller="Teacher" asp-action="ChangePassword" method="post" >
    <div>
        <p class="explanation">Change your password</p>
    </div> 
    <div>
        <input type="password" name="oldPassword" placeholder="Old Password" class="inpt"/> 
        <input type="password" name="newPassword"  placeholder="New Password" class="inpt"/> 
        <input type="password" name="newPassword1"  placeholder="Confirm New Password" class="inpt"/>
        <br />
        <input type="hidden" name="professorName" value="@ViewBag.Username" />
        <input type="submit" class="submit"/>
    </div>
</form>

<br />
<br />

<!--Change phone number form-->
<form asp-controller="Teacher" asp-action="ChangePhone" method="post" >
    <div>
        <p class="explanation">Change your phone number</p>
    </div> 
    <div>
        <input type="tel" pattern="[0-9]{10}" name="phone" placeholder="New Phone Number" class="inpt"/> 
        <input type="tel" pattern="[0-9]{10}" name="phone" placeholder="Confirm Phone Number" class="inpt"/> 
        <input type="hidden" name="professorName" value="@ViewBag.Username" />
        <input type="submit" class="submit"/>
    </div>
</form>
</div>



<div class="thesis_image">

<!--Reports Info-->

<div class="reports_info">
    <h1>Actions</h1>
    <p class="explanation">Grading</p>
    <div class="buttons">
        <a href="javascript:void(0);" class="icon" >
            <i class="fa fa-graduation-cap"></i>    
        </a>
        <a class="link" >Grade a Thesis</a>
    </div>

    <p class="explanation">Reports</p>
    <div class="buttons">
        <a href="javascript:void(0);" class="icon" >
            <i class="fa fa-graduation-cap"></i>    
        </a>
        <a class="link" asp-controller="Teacher" asp-action="ThesisStartList" asp-route-username="@ViewBag.Username">Your Students</a>
    </div>
    <div class="buttons">
        <a href="javascript:void(0);" class="icon" >
            <i class="fa fa-pencil"></i>    
        </a>
        <a class="link" asp-controller="Teacher" asp-action="GradeList" asp-route-username="@ViewBag.Username">Grading Statistics</a>
    </div>

</div>
<div class="pic">
    <img src="@Url.Content("~/images/profile_img.png")" />
</div>
</div>





@if(ViewBag.wrongPassword == 1){
    <script type="text/javascript">
        window.onload = function () {
    alert('The old password is wrong');
    }
    </script>
}
@if (ViewBag.notSamePasswords == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('The new passwords do not match');
    }
    </script>
}
@if (ViewBag.failure == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Something went wrong please try again');
    }
    </script>
}
@if (ViewBag.success == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Success');
    }
    </script>
}
@if (ViewBag.emptyPassword == 1)
{
    <script type="text/javascript">
        window.onload = function () {
    alert('Please enter a valid password');
    }
    </script>
}
</div>