@model List<Software_Engineering_Project.Models.SearchModel>

@{
    ViewData["Title"] = "Student Search";
}

<!-- Stylesheet connection for AddStudent page -->
@section Styles {
    <link rel="stylesheet" href="~/css/AddStudentStyle.css" />
}

<h1>Student Search</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Student Id
            </th>
            <th>
                Start year
            </th>
            <th>
                First Name
            </th>
            <th>
                Last name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone number
            </th>
            <th>
                Thesis title
            </th>
            <th>
                Thesis start date
            </th>
            <th>
                Thesis grade
            </th>
            <th>
                Thesis Language
            </th>
            <th>
                Thesis Technology
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>
               p19117
            </th>
            <th>
                2017
            </th>
            <th>
                Anastasia
            </th>
            <th>
                Boublini
            </th>
            <th>
                aboublini@gmail.com
            </th>
            <th>
                6912345678
            </th>
            <th>
                Interactive User Interfaces with React JS
            </th>
            <th>
                2/7/21
            </th>
            <th>
                9.5
            </th>
            <th>
                English
            </th>
            <th>
                React JS, JS, HTML, CSS, Angular
            </th>
        </tr>
    </tbody>

     @*
    <tbody>     
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @item.Student
                    </td>
                    <td>
                       @item.StartYear
                    </td>
                    <td>
                       @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.Grade
                    </td>
                    <td>
                        @item.Language
                    </td>
                    <td>
                        @item.Technology
                    </td>
                </tr>
        } 
       
    </tbody> *@
</table>
