@model List<Software_Engineering_Project.Models.SearchModel>

@{
    ViewData["Title"] = "Student Search";
}

<!-- Stylesheet connection for AddStudent page -->
@section Styles {
    <link rel="stylesheet" href="~/css/StudentSearchStyle.css" />
	<link rel="stylesheet" href="~/css/NavbarStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/BurgerMenu.js"></script>
}

<section>
<div class="content">

	         <!-- Top Navigation Menu -->
        <div class="topnav" >
             <picture> 
                    <img src ="@Url.Content("~/images/unipi_logo.png")" />
             </picture> 
             <div class="menu_burger">
             <div class="menu" id="bmenu">       
                <a class="link" href="#">Home</a>
                <a class="link" href="#">Appointments</a>
                <a class="link" asp-controller="Teacher" asp-action="StudentHandler" asp-route-username="@Model">Students</a>        
                <a class="link" asp-controller="Teacher" asp-action="Profile" asp-route-username="@Model">Profile</a>
             </div>
             <div class="burger">
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars fa-xxl"></i>    
                </a>
             </div>
             </div>      
        </div>


<div class="card">
	<img src="@Url.Content("~/images/hat.png")" alt="" class="icon" />
	<h3 class="title">@Model[0].FirstName @Model[0].LastName</h3>
	<h3 class="title">Undergraduate Student</h3>
	<br />
    <div class="container">
        <table class="tbl">
			@foreach (var item in Model) {
			<tr>
				<th>Student Id:</th>
				<td> @item.Student</td>
			</tr>
			<tr>
				<th>Start year:</th>
				<td>@item.StartYear</td>
			</tr>
			<tr>
				<th>First Name:</th>
				<td>@item.FirstName</td>
			</tr>
			<tr>
				<th>Last name:</th>
				<td>@item.LastName</td>
			</tr>
			<tr>
				<th>Email:</th>
				<td>@item.Email</td>
			</tr>
			<tr>
				<th>Phone number:</th>
				<td>@item.Phone</td>
			</tr>
			<tr>
				<th>Thesis title:
				</th>
				<td>@item.Title</td>
			</tr>
			<tr>
				<th>Thesis start date:</th>
				<td>@item.StartDate</td>
			</tr>
			<tr>
				<th>Thesis grade:</th>
				<td>@item.Grade</td>
			</tr>
			<tr>
				<th>Thesis Language:</th>
				<td>@item.Language</td>
			</tr>
			<tr>
				<th>Thesis Technology:</th>
				<td>@item.Technology</td>
			</tr>
			}
		</table>
		<br />
    </div>
</div>  
   <div class="image-container">
        <div class="panel left-panel">
            <img src="@Url.Content("~/images/StudentHandler_img.png")" alt="" class="image" />
        </div>
     </div>
</div>

</section>